.card{
    display: grid;
    border: 3px solid #439670;
    padding: 5px;
    max-width: 15em;
    height: 25em;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: 5px -10px #74C69D;
    background-color: #D8F3DC;
    border-radius: 20px;
}

.card_img_top{
    width: 15em;
    height: 15em;
    object-fit: contain;
    margin-bottom: 1px;
    border-radius: 20px;
}

h5{
    text-align: center;
    font-size: 1em;
}

.card_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.link{
    color: black;
}